
.header.header-minimal.primary
  .header-wrapper
    .container
      .header-inner
        .header-main
          .header-title
            a(href='/index.html')
              img(src='http://preview.byaviators.com/template/realsite/assets/img/logo.png', alt='Realsite')
              span Renta
          // /.header-title
          .header-navigation
            .nav-main-wrapper
              .nav-main-title.visible-xs
                a(href='index.html')
                  img(src='http://preview.byaviators.com/template/realsite/assets/img/logo-blue.png', alt='Realsite')
                  |             Realsite
              // /.nav-main-title
              .nav-main-inner
                nav
                  a.header-action
                    i.fa.fa-plus
                  ul#nav-main.nav.nav-pills
                    li.has-children
                      a(href='/')
                        | Home 
                        i.fa.fa-caret-down
                      div
                        a(href='#')
                          | Properties 
                          i.fa.fa-caret-down
                        ul.sub-menu
                          li
                            a(href='properties-detail.html') Detail Page
                          li
                            a(href='properties-row.html') Row Display
                          li
                            a(href='properties-grid.html') Grid
                          li
                            a(href='properties-table.html') Table Listing
                          li
                            a(href='properties-medium.html') Medium Size
                          li
                            a(href='properties-medium-gallery.html') Medium Size + Gallery
                          li
                            a(href='properties-large.html') Large Images
                          li
                            a(href='properties-simple.html') Simple Version
                          li
                            a(href='properties-isotope.html') Isotope
                          li
                            a(href='properties-submit.html') Submit Property
                    li.has-children
                      a(href='#')
                        | Agents 
                        i.fa.fa-caret-down
                      div
                        a(href='#')
                          | Agents 
                          i.fa.fa-caret-down
                        ul.sub-menu
                          li
                            a.subtitle Agent
                          li
                            a(href='agents-detail.html') Detail
                          li
                            a(href='agents-row.html') Listing Row
                          li
                            a(href='agents-large.html') Listing Large
                          li
                            a(href='agents-medium.html') Listing Medium
                          li
                            a.subtitle Agency
                          li
                            a(href='agencies-detail.html') Detail
                          li
                            a(href='agencies-row.html') Listing Row
                    li.has-children.active
                      a(href='#')
                        | Variants 
                        i.fa.fa-caret-down
                      div
                        a(href='#')
                          | Variants 
                          i.fa.fa-caret-down
                        ul.sub-menu
                          li.has-children
                            a(href='#') Headers
                            div
                              ul.sub-menu
                                li
                                  a(href='headers-google-map.html') Google Map
                                li
                                  a(href='headers-search.html') Search Propety
                                li
                                  a(href='headers-chart.html') NVD3 Chart
                                li
                                  a(href='headers-call-to-action.html') Call to Action
                                li
                                  a(href='headers-static-image.html') Static Image
                                li
                                  a(href='headers-simple.html') Simple & Minimal
                          li.has-children
                            a(href='#') Footers
                            div
                              ul.sub-menu
                                li
                                  a(href='footers-minimal.html#footer') Minimal
                                li
                                  a(href='footers-navigation.html#footer') Navigation
                                li
                                  a(href='footers-simple.html#footer') Simple
                                li
                                  a(href='footers-4-columns.html#footer') 4 Columns
                                li
                                  a(href='footers-3-columns.html#footer') 3 Columns
                    li.has-children
                      a(href='#')
                        | Pages 
                        i.fa.fa-caret-down
                      div
                        a(href='#')
                          | Pages 
                          i.fa.fa-caret-down
                        ul.sub-menu
                          li
                            a(href='pages-grid.html') Grid System
                          li
                            a(href='contact.html') Contact
                          li
                            a(href='pages-faq.html') FAQ
                          li
                            a(href='pages-ad-spaces.html') Ad Spaces
                          li
                            a(href='pages-notifications.html') Notifications
                          li
                            a(href='pages-pricing.html') Pricing
                          li
                            a(href='pages-login.html') Login Form
                          li
                            a(href='pages-register.html') Register Form
                          li
                            a(href='pages-invoice.html') Invoice Template
                          li
                            a(href='pages-change-password.html') Change Password
                          li
                            a(href='pages-terms-and-conditions.html') Terms & Conditions
                          li
                            a(href='pages-styles.html') Page Styles
                          li
                            a(href='pages-features.html') Features
                          li
                            a(href='pages-404.html') 404 - Not Found
                          li
                            a(href='pages-500.html') 500 - Internal Error
                    li.has-children
                      a(href='#')
                        | Blog 
                        i.fa.fa-caret-down
                      div
                        a(href='#')
                          | Blog 
                          i.fa.fa-caret-down
                        ul.sub-menu
                          li
                            a(href='blog-index.html') Listing Right Sidebar
                          li
                            a(href='blog-index-left.html') Listing Left Sidebar
                          li
                            a(href='blog-detail.html') Detail Page
                        // /.sub-menu
                    li.important
                      a(href='admin-login.html') Admin
                  // /.nav
              // /.nav-main-inner
            // /.nav-main-wrapper
            button.navbar-toggle(type='button')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          // /.header-navigation
        // /.header-main
      // /.header-inner
    // /.container
  // /.header-wrapper
// /.header
