
.header.header-minimal.primary
  .header-wrapper
    .container
      .header-inner
        .header-main
          .header-title
            a(href='/')
              img(src='img/logo.png', alt='Realsite')
              span Renta
          // /.header-title
          .header-navigation
            .nav-main-wrapper
              .nav-main-title.visible-xs
                a(href='index.html')
                  img(src='http://preview.byaviators.com/template/realsite/assets/img/logo-blue.png', alt='Realsite')
                  |             Realsite
              // /.nav-main-title
              .nav-main-inner
                nav
                  a.header-action(href='/listings/create')
                    i.fa.fa-plus
                  ul#nav-main.nav.nav-pills
                    li(class=title=='Home'?'important':undefined)
                      a(href='/') Home
                    li(class=title=='Listings'?'important':undefined)
                      a(href='/listings') Listings
                    if !user
                      li(class=title=='Login'?'important':undefined)
                        a(href='/login') Login
                    else
                      li
                        a(href='/logout') Logout
