extends layout

block content
  .main
  form(action='/listings/create', method='POST', enctype='multipart/form-data')
    input(type='hidden', name='_csrf', value=_csrf)
    .container
      .row
        .content.col-sm-12
          h1.page-header Submit Property
          .box
            .form-group
              input.form-control(type='text', placeholder='Title', name='title')
            .form-group
              textarea.form-control(placeholder='Property Description', name='description')
        .content.col-sm-12
          h2.page-header Details
          .box
            .row
              .col-sm-12
                .input-group
                  span.input-group-addon
                    i.fa.fa-dollar
                  input.form-control(type='text', placeholder='Rent', name='rent')
                  
                  span.input-group-addon
                    i.fa.fa-tint
                  input.form-control(type='text', placeholder='Bathrooms', name='bathrooms')
                  // /.form-group
                  .input-group
                  span.input-group-addon
                    i.fa.fa-picture-o
                  input.form-control(type='text', placeholder='Bedrooms', name='bedrooms')
                  // /.form-group
                  .input-group
                  span.input-group-addon
                    i.fa.fa-car
                  input.form-control(type='text', placeholder='Garages', name='garages')
                  // /.form-group
          h2.page-header Location
          .box
            input#pac-input.controls(type='text', placeholder='Enter a location')
            #map-canvas
            .row
              .col-sm-6
                .input-group
                  span.input-group-addon
                    i.fa.fa-map-marker
                  input#input-latitude.form-control(type='text', placeholder='Latitude', name='lat')
                // /.form-group
              // /.col-*
              .col-sm-6
                .input-group
                  span.input-group-addon
                    i.fa.fa-map-marker
                  input#input-longitude.form-control(type='text', placeholder='Longitude', name='lon')
          h2.page-header Image Upload
          .box
            input(type="file", id="input-file", name="uploadWorld")
          .center
            button.btn.btn-xl(type='submit')
              | Submit Property Listing
              small I agree with Terms & Conditions
// /.center



            
            
          
